/*site.css*/
/*the website is http://wkeil1171710.altervista.org/index.html*/

h3 {
	color: #F0FFFF;
	letter-spacing: 5px;
	font-family: Arial, 'Times New Roman', serif; 

}
h2{
	color: #F0FFFF;
}

html{
    border: 2px solid black;
}

header {
	font-family: 'Times New Roman', serif; 
	border: solid 3px #003300;
	color: #F0FFFF;
}

body {
    background-image: url("IMG_1212.JPG");
    border: 5px solid black;
}

#mainsection {
	color: #ee4466;
	border: solid 1px #003300;
	margin: 350px 2px;
}

.highlightsel {
	background-color: yellow;
	font-weight: bold;
	font-family: Helvetica, serif;

}

footer {
	position: fixed;
	bottom: 10px;
	right: 10px;
}


#mainNavigation {
	display: inline-block;
	margin-right: 5px;
	color: #F0FFFF;
}

#imageone {
	float: left;
	display: inline-block;
    -webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
    transform: rotate(2deg);
    color: #F0FFFF;
}

#elementone {
	display: inline-block;
	border: solid 3px #F0FFFF;
	margin: 120px 2px 75px 2px;
	color: #F0FFFF;
}

#contactUsForm {
	border: solid 3px #F0FFFF;
	font-family: 'Times New Roman', serif;
	color: #F0FFFF;
}

#translationbox {
	font-family: serif;
	color: #F0FFFF;
}

#interpretationbox {
	font-family: serif;
	color: #F0FFFF;
}


#svcinfo {
	font-family: serif;
	color: #F0FFFF;
}

#oursvcs {
	font-family: serif;
	color: #F0FFFF;
}

#addressinfo {
	font-family: serif;
	color: #F0FFFF;
}

#contactus {
	font-family: serif;
	color: #F0FFFF;
}

#paymentForm {
	font-family: serif;
	color: #F0FFFF;
}

#paymentinfo {
	font-family: serif;
	color: #F0FFFF;
}


#devDocumentation {
	font-family: serif;
	color: #F0FFFF;
}


#finalProductDefense {
	font-family: serif;
	color: #F0FFFF;
}


#futurePlans {
	font-family: serif;
	color: #F0FFFF;
}