{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>
	<div class="page-header">
		<h1> Xacaltlahtolli: <small>The LangShack</small></h1>
	</div>

		{% block title %}{% endblock %}
		<link rel="stylesheet" href="{% static 'css/main.css' %}" type="text/css" />
		<link rel="stylesheet" href="{% static 'libs/bootstrap-3.3.5/css/bootstrap-theme.min.css' %}">
	</title>
	<h1 align="center">Xacaltlahtolli: The LangShack</h1>
</head>
<body>
	<nav>
		<a href="/">Home</a>
		<a href="/projects">Projects</a>
		<a href="">LangBlog</a>
		<a href="">Our mission</a>
		<a href="">Request research|Contact the LangShack</a>
		
		<ul class="nav nav-pills nav-stacked">
			<a href="/">Home</a>
			<a href="/projects">Projects</a>
			<a href="">LangBlog</a>
			<a href="">Our mission</a>
			<a href="">Request article/Contact the LangShack</a>
		</ul>
	</nav>

	{% block content %}{% endblock %}
</body>
</html>
