{% load staticfiles %}
{% load static %}
<!doctype html>
<html>
<head>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
		<link rel="stylesheet" href="{% static 'css/main.css' %}">

	<title>

		{% block title %}{% endblock %}

	</title>
	<h1 align="center">Xacaltlahtolli: The LangShack</h1>
</head>
<body>
	<nav>		
		<ul class="nav nav-pills nav-stacked">
			<a href="/">Home</a>
			<a href="/projects">Projects</a>
			<a href="/langblog">LangBlog</a>
			<a href="/">Our mission</a>
			<a href="">Contact the LangShack</a>
		</ul>
	</nav>

	{% block content %}{% endblock %}
</body>
</html>
