{% load staticfiles %}
{% load static %}
<!doctype html>
<html>
<head>
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    	<link rel="stylesheet" href="{% static 'css/main.css' %}">
	<title>
	Xacaltlahtolli: LangShack
	</title>
	<h1 align="center">Xacaltlahtolli: The LangShack</h1>
</head>
<body style="background-color: #009475;">
	<div id="left"></div>
	<div id="right"></div>
	<div id="top"></div>
	<div id="bottom"></div>
	<ul class="nav nav-pills nav-stacked" style="width: 250px;">
		<li role="presentation"><a style="color:white;" href="/">Home</a> </li>
		<li role="presentation"><a style="color:white;" href="/langblog/">The LangBlog</a></li>
		<li role="presentation"><a style="color:white;" href="/ourmission">Our mission</a></li>
		<li role="presentation"><a style="color:white;" href="/contact">Contact the LangShack</a></li>
	</ul>
	{% block title %}{% endblock %}
	{% block content %}{% endblock %}
</body>
</html>
