{% extends "layout.html" %}

{% block content %}
<h2 class="ourmission" align="center">Our Mission</h2>

<p align="left" style="margin-left: 40px; margin-right: 40px;">
    Our belief is that everyone should be able to speak their native language in any circumstance.
    This equates to the belief that all speakers of minority languages should be able to access any resource to
    learn or search words in their language. At the LangShack, we strive to do exactly that but through technology.
    There are many planned projects we have, to revive endangered and dying languages around the world, but it must start
    from the young population. The up and coming generation are the torch-holders of the language they speak, if
    the language is not passed on, then so much disappears from that culture. The disappearance and extinction of a
    language means that stories, legends, spiritual and everyday chants, religious practices, mythology, oral history,
    sense of direction, nature and more are all lost.
</p>

    <p align="left" style="margin-left: 40px; margin-right: 40px;">The LangShack aspires to work with as many indigenous peoples as possible to create resources to further the advancement
    of their languages. We are working to document, and provide software applications that break down grammar to the root, and instruct
    learners how to read, write, and speak the language. Dictionaries are another important resource that the LangShack specializes
    in, in the future, we will create applications that provide the learner, and everyday speaker with a tool that helps them
    look up words with added features — all on the go!
</p>
{% endblock %}