{% extends "index.html" %}

{% for message in get_flashed_messages() %}
  <div class="flash">{{ message }}</div>
{% endfor %}

 
{% block content %}

<h2>Contact us</h2>

<p> 
	To contact us, please use the contact form. In addition to questions, this form can be also used to make an update or new entry request for a word. Please fill out the contact form, and we will get in contact with you as soon as possible. 
</p> 

  <form action="{{ url_for('contact') }}" method=post>
   	{{ form.hidden_tag() }}

   	<br>
	<br>
 
    {{ form.name.label }}
    {{ form.name }}
   	<br>
   	<br>
 
    {{ form.email.label }}
    {{ form.email }}
   	<br>
   	<br>

   	{{ form.subject.label }}
    {{ form.subject }}

    <br>
    <br>

    {{ form.message.label }}
    {{ form.message }}

   	<br>
   	<br>
 
    {{ form.submit }}


  </form>
{% endblock %}
