<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="/static/bootstrap.min.css" media="screen">
	</head>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<h4>Sanna Dictionary (The Language of the Town of Kormakitis, Cyprus)</h4>

  

	<body>
	<div class="col-lg-6">
    	<div class="input-group">
    	<input type="text" class="form-control" placeholder="Search for...">
    	<span class="input-group-btn">
    		<button class="btn btn-default" type="button">Go!</button>
    	</span>
    		</div><!-- /input-group -->
		</div><!-- /.col-lg-6 -->
		</div><!-- /.row -->
	</body>
</html>	
