{% from "_formhelpers.html" import render_field %}
<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<script src="{{ url_for('static', filename='bootstrap.js') }}"></script>

			<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" media="screen">
			<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
			<script type="text/javascript" src="static/"></script>

			<script language="javascript">
					document.onmousedown = disableclick;
					status = "Right Click Disabled";
					Function disableclick(e)
					{
					  if(event.button == 2)
					  {
						alert(status);
						return false; 
					  }
					}
				  </script> 
	</head>

	<div class="page-header">
  		<h4 align="center"> Papahana <small>(Tools for Language, Empowerment for Linguistics)</small></h4>
	</div>

<body>


	<nav class="navbar navbar-expand-lg navbar-light bg-dark">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarTogglerDemo01">
			<a class="navbar-brand" href="#">LangCorner</a>
			<ul class="navbar-nav mr-auto mt-2 mt-lg-0">
				<li class="nav-item active">
					<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/aboutproject">About the Project</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/contextsearch">Context search</a>
				</li>
				<li class="nav-item active">
					<a class="nav-link" href="/importlesson">Import new lesson</a>
				</li>
			</ul>
			<form class="form-inline my-2 my-lg-0" method="GET" role="search" action="/results">
				<input class="form-control mr-sm-2" type="search" placeholder="English <--> Sanna" name="searchword">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search | Fatteş</button>
			</form>
		</div>
	</nav>
	{% block content %}{% endblock %}

</body>		

</html>
