<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="/static/bootstrap.min.css" media="screen">
	</head>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<h4>Sanna Dictionary (The Language of the Town of Kormakitis, Cyprus)</h4>
	
	<form class="navbar-form navbar-left" role="search" action="/words/{{ word }}">
		<div class="form-group"> 
		   <input type="text" class="form-control" placeholder="English <--> Sanna">
		</div>
		<button type="submit" class="btn btn-default">Search</button>
	</form>

		{% if entry %}
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>

		<p align="center">
			<strong> Word</strong>
			<br>
			</br>
			{{entry['word'] }}
			<br>
			<br>
			<strong>Meaning <br></strong>
			<br>
			{{entry['meaning'] }} 
			<br>
			{% else %}
			<h2>No results.</h2>
			{% endif %}
		</p>

	<body>
		<p>
			
		</p>


	</body>
</html>