<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" href="/static/bootstrap.min.css" media="screen">
	</head>

	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
	<div class="page-header">
  		<h4 align="center"> Sanna Dictionary <small>(The Language of the Town of Kormakitis, Cyprus)</small></h4>
	</div>

	<body>
	
	<nav class="navbar navbar-inverse" id="navybars">
	   <div class="container-fluid">
	     <div class="navbar-header">
	       <a class="navbar-brand" href="#">Leksikos tel Sanna</a>
	     </div>
	     <ul class="nav navbar-nav">
	     	<li role="navigation"><a href="/">Home</a></li>
			<li role="navigation"><a href="/aboutproject">About the Project</a></li>
			<li role="navigation"><a href="/contactus">Contact Us</a></li>
	     </ul>
	     <form class="navbar-form navbar-left" method="GET" role="search" action="/results">
			<div class="form-group"> 
			   	<input type="search" class="form-control" placeholder="English <--> Sanna" name="searchword">
			</div>
			<button type="submit" class="btn btn-default">Search | Fatteş</button>
		</form>
	   </div>
	</nav>

		{% if entry['pos'] == 'noun' %}
		</br>
		</br>
		</br>
		</br>
		</br>
		</br>

		<p align="center">
			<strong> Word</strong>
			<br>
			</br>
			{{ entry['word'] }}
			<br>
			<br>
			<strong>Meaning <br></strong>
			<br>
			{{ entry['meaning'] }} 
			<br>
			{% elif entry['pos'] == 'adjective' %}

				<br>
				<br>
				<br>
				<br>
				<br>
				<br>

				<p align="center">
				<strong> Base word form </strong>
				<br>
				{{ entry['word'] }}
				<br>
				<strong> Meaning <br></strong>
				<br>
				{{ entry['meaning'] }} 
				<br>
				<strong> Form: masculine | feminine | plural </strong>
				<br>
				{{ entry['mascForm']}}   {{ entry['femForm']}}   {{ entry['pluralForm']}}
				<br>

			{% elif entry['pos'] == 'verb' %}

				<br>
				<br>
				<br>
				<br>
				<br>
				<br>

				<p align="center">
				<strong> Verb infinitive form </strong>
				<br>
				{{ entry['word'] }}
				<br>
				<strong> Meaning <br></strong>
				{{ entry['meaning'] }} 
				<br>
				<br>
				Present forms:
				<br>
				<strong> Ana: {{ entry['presForms']['pres_FirstPersonSing'] }} 
				<br>
				 naxni: {{ entry['presForms']['pres_FirstPersonPl'] }}</strong>
				 <br>
				<strong>Int: {{ entry['presForms']['pres_SecondPersonSingMasc'] }}  
				<br>
				<br>intu? {{ entry['presForms']['pres_SecondPersonPl'] }}</strong>
				<br>
				<strong>Inti: {{ entry['presForms']['pres_SecondPersonSingFem'] }}  </strong>
				<br>
				<strong>Uo: {{ entry['presForms']['pres_ThirdPersonMasc'] }}| 
				<br>
				Ie: {{ entry['presForms']['pres_ThirdPersonFem'] }}  
				<br>     
				Innen: {{ entry['presForms']['pres_ThirdPersonPl'] }}</strong>
				<strong></strong>
				<br>
				
				<br>
				Past forms:
				<br>
				<strong>Ana: {{ entry['pastForms']['past_FirstPersonSing'] }} 
				<br> 
				naxni: {{ entry['pastForms']['past_FirstPersonPl'] }}</strong>
				<br>
				<strong>Int: {{ entry['pastForms']['past_SecondPersonSingMasc'] }} 
				<br>
				intu? {{ entry['pastForms']['past_SecondPersonPl'] }}</strong>
				<br>
				<strong>Inti: {{ entry['pastForms']['past_SecondPersonSingFem'] }}  </strong>
				<br>
				<strong>Uo: {{ entry['pastForms']['past_ThirdPersonMasc'] }}| 
				<br>
				Ie: {{ entry['pastForms']['past_ThirdPersonFem'] }}
				<br>   
				Innen : {{ entry['pastForms']['past_ThirdPersonPl'] }}</strong>

				<br>
				<br>
				Future forms:
				<br>
				<strong>Ana:</strong> {{ entry['futureForms']['future_FirstPersonSing'] }} 
				 <br>
				naxni: {{ entry['futureForms']['future_FirstPersonPl'] }}
				<br>
				<strong>Int: {{ entry['futureForms']['future_SecondPersonSingMasc'] }}  
				<br>
				intu? {{ entry['futureForms']['future_SecondPersonPl'] }}</strong>
				<br>
				<strong>Inti: {{ entry['futureForms']['future_SecondPersonSingFem'] }}  </strong>
				<br>
				<strong>Uo: {{ entry['futureForms']['future_ThirdPersonMasc']}}|
				<br>
				Ie: {{ entry['futureForms']['future_ThirdPersonFem']}}      
				<br>
				Innen : {{ entry['futureForms']['future_ThirdPersonPl'] }}</strong>

				<br>
				<br>
				Present negative forms:
				<br>
				<strong>Ana: {{ entry['future_FirstPersonSing'] }}  
				<br>
				naxni: {{ entry['future_FirstPersonPl'] }}</strong>
				<br>
				<strong>Int: {{ entry['future_SecondPersonSingMasc'] }}  
				<br>
				intu? {{ entry['future_SecondPersonPl'] }}</strong>
				<br>
				<strong>Inti: {{ entry['future_SecondPersonSingFem'] }}  </strong>
				<br>
				<strong>Uo|Ie: {{ entry['future_ThirdPersonMasc'] }}|
				<br>
				Ie: {{ entry['future_ThirdPersonFem'] }}    
				<br>
				Innen : {{ entry['future_ThirdPersonPl'] }}</strong>
				
			{% else %}
			<h2>No results.</h2>
			{% endif %}
		
		</p>

	</body>
</html>
