/*site.css*/
/*the website is http://wkeil1171710.altervista.org/index.html*/


header {
	font-family: 'Times New Roman', serif; 
	border: solid 1px #003300;
	color: #F0FFFF;
}


h4 {
	text-align:center;
}
 
#searchbox {
	text-align: center;
}